.login-wrapper {
    height: 100vh;
    background: url('/assets/img/login-background.jpg') no-repeat center fixed;
    background-size: cover;
    padding: 7%;
}

.login-logo {
    padding-bottom: 25px;
    margin-bottom: 0;
    background: #ffffff;
}
