<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Empleado
            <small>Agregar</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-8">
                <div class="box">
                    <form class="form-horizontal" novalidate #f="ngForm" (ngSubmit)="save(f.valid)" *ngIf="!loading">
                        <div class="box-header with-border">
                            <h3 class="box-title">Información del empleado</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group" [ngClass]="{'has-error': !(name.valid || (name.pristine && !f.submitted))}">
                                <label class="col-sm-2 control-label" for="name">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" #name="ngModel" name="name" [(ngModel)]="worker.name" autofocus required minlength="3" maxlength="255"
                                        class="form-control" id="name" placeholder="Nombre" />
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !(lastName.valid || (lastName.pristine && !f.submitted))}">
                                <label class="col-sm-2 control-label" for="lastName">Apellido</label>
                                <div class="col-sm-10">
                                    <input type="text" #lastName="ngModel" name="lastName" [(ngModel)]="worker.lastName" required minlength="3" maxlength="255"
                                        class="form-control" id="lastName" placeholder="Apellido" />
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !(phoneNumber.valid || (phoneNumber.pristine && !f.submitted))}">
                                <label class="col-sm-2 control-label" for="phoneNumber">Número de teléfono</label>
                                <div class="col-sm-10">
                                    <input type="text" #phoneNumber="ngModel" name="phoneNumber" [(ngModel)]="worker.phoneNumber" required minlength="3" maxlength="255"
                                        class="form-control" id="phoneNumber" placeholder="Número de teléfono" />
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !(email.valid || (email.pristine && !f.submitted))}">
                                <label class="col-sm-2 control-label" for="email">Correo electrónico</label>
                                <div class="col-sm-10">
                                    <input type="email" [disabled]="worker.id" #email="ngModel" name="email" [(ngModel)]="worker.email" required minlength="3"
                                        maxlength="255" class="form-control" id="email" placeholder="Correo electrónico" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                                    />
                                </div>
                            </div>
                        </div>
                        <div *ngIf="worker.id == null">
                            <div class="box-header with-border">
                                <h3 class="box-title">Usuario de apliación móvil</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group" [ngClass]="{'has-error': !(password.valid || (password.pristine && !f.submitted))}">
                                    <label class="col-sm-2 control-label" for="password">Contraseña</label>
                                    <div class="col-sm-10">
                                        <input type="password" #password="ngModel" name="password" [(ngModel)]="worker.password" required minlength="3" maxlength="255"
                                            class="form-control" id="password" placeholder="Contraseña" validateEqual="confirmPassword" reverse="true" />
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error': !(confirmPassword.valid || (confirmPassword.pristine && !f.submitted))}">
                                    <label class="col-sm-2 control-label" for="confirmPassword">Repetir contraseña</label>
                                    <div class="col-sm-10">
                                        <input type="password" validateEqual="password" #confirmPassword="ngModel" name="confirmPassword" [(ngModel)]="worker.confirmPassword"
                                            required minlength="3" maxlength="255" class="form-control" id="confirmPassword"
                                            placeholder="Repetir contraseña" />
                                        <small class="text-danger" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                                        Las contraseñas no coinciden
                                    </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <b><span class="text-danger" #errMsg></span></b>
                            <button type="button" *ngIf="worker.submitted" disabled class="btn btn-success pull-right"><i class="fa fa-spinner fa-pulse fa-fw"></i></button>
                            <button type="submit" *ngIf="!worker.submitted" class="btn btn-success pull-right">Guardar</button>
                        </div>
                    </form>
                    <div class="box-body text-center" *ngIf="loading">
                        <i class="fa fa-spinner fa-pulse fa-4x"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Imágen de perfil</h3>
                    </div>
                    <div class="box-body text-center">
                        <img src="{{worker.avatarUri}}" #logoImg class="img-circle" alt="User Image">
                    </div>
                    <div class="box-footer text-center">
                        <button (click)="modal.show()" type="button" class="btn btn-primary">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-avatar-modal #avatarModal imageSrc="{{worker.avatarUri}}" (croppedImage)="changeAvatar($event)"></app-avatar-modal>
